/* РУТ ЦВЕТА */
:root {
  --secondary-text-color: #757575;
  --primary-text-color: #212121;
  --current-color: #2196f3;
  --white-colour: #ffffff;
}
/* ОБЩИЕ НАСТРОЙКИ */
body {
  font-family: 'roboto', sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ХЕДЕР */
.logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--current-color);
}
.logo:hover,
.logo:focus {
  color: var(--current-color);
}
.header-logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
}
.header-logo:hover,
.header-logo:focus {
  color: var(--primary-text-color);
}
.site-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.current {
  color: var(--current-color);
}
.header-contacts {
  text-decoration: none;
  color: var(--primary-text-color);
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--primary-blue-color);
}
/* BODY стили */
.main-title {
  color: var(--white-colour);
}
.order-service {
  color: var(--white-colour);
}
.sections-title {
  font-size: 42px;
  color: var(--secondary-text-color);
}
.features-title {
}
.features-paragpaph {
}

/* СТИЛИ ФУТЕРА */
footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: 'raleway';
  color: var(--white-colour);
}

.street {
  color: var(--white-colour);
}
.foot-contacts {
  color: var(--primary-text-color);
}
.foot-contacts {
}
.foot-contacts:hover,
.foot-contacts:focus {
  color: var(--primary-blue-color);
}
