/* РУТ ЦВЕТА */
:root {
  --secondary-text-color: #757575;
  --primary-text-color: #212121;
  --current-color: #2196f3;
  --white-colour: #ffffff;
  --addres-colour: rgba(255, 255, 255, 0.6);
}
/* ОБЩИЕ НАСТРОЙКИ */
body {
  font-family: 'roboto', sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ХЕДЕР */
.logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--current-color);
}
.logo:hover,
.logo:focus {
  color: var(--current-color);
}
.header-logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
}
.header-logo:hover,
.header-logo:focus {
  color: var(--primary-text-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.current {
  color: var(--current-color);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--current-color);
}
/* BODY стили */
.hero-section {
  background-color: #2f303a;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-colour);
  /* Временно */
  background-color: var(--primary-text-color);
}
.order-service {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--current-color);
  color: var(--white-colour);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.order-service:focus,
.order-service:hover {
  background-color: var(--current-color);
  color: var(--white-colour);
}
.sections-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.hide-title {
  opacity: 0;
}
.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.features-paragpaph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.proffession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* СТИЛИ ФУТЕРА */
footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-colour);
}

.street {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-colour);
}
.street:hover,
.street:focus {
  color: var(--current-color);
}
.foot-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--addres-colour);
}

.foot-contacts:hover,
.foot-contacts:focus {
  color: var(--current-color);
}
.join-us {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-colour);
}
